<h1>Edit car: <span class="data">{{colour}} {{plate}}</span></h1>

<form method="Post" action="/edit/{{id}}" class="form">
<input type="hidden" name="id" value="{{id}}" />

<label for="colour" class="label">Colour:</label>

<input type="text" id="name" name="colour" value="{{colour}}" />

<label for="plate" class="label">Plate:</label>
<input type="text" id="name" name="plate" value="{{plate}}" />

<button>Update Car details</button>

<form method="Post" action="/edit/:id/delete" class="form">
<input type="hidden" name="colour" value="{{colour}}" />
  <button class="delete">del</button>
</form>

</form>